USE [rpmtecno]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CI] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
 CONSTRAINT [CLIENTE_PK] PRIMARY KEY CLUSTERED 
(
	[CI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpleado] [varchar](100) NULL,
 CONSTRAINT [EMPLEADO_PK] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOSERVICIO]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOSERVICIO](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](100) NULL,
 CONSTRAINT [ESTADOSERVICIO_PK] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GARANTIA]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARANTIA](
	[IdGarantia] [int] IDENTITY(1,1) NOT NULL,
	[NumeroOrden] [int] NOT NULL,
	[FechaInicio] [varchar](10) NOT NULL,
	[FechaFinal] [varchar](10) NOT NULL,
 CONSTRAINT [GARANTIA_PK] PRIMARY KEY CLUSTERED 
(
	[IdGarantia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[NumeroOrden] [int] IDENTITY(1,1) NOT NULL,
	[CICliente] [int] NOT NULL,
	[TipoEquipo] [varchar](200) NOT NULL,
	[Modelo] [varchar](200) NULL,
	[TrabajoARealizar] [varchar](200) NOT NULL,
	[TipoServicio] [varchar](100) NOT NULL,
	[FechaRecibido] [varchar](10) NOT NULL,
	[FechaFinalizado] [varchar](10) NOT NULL,
	[Tecnico] [int] NULL,
	[PrecioReparacion] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Nota] [varchar](200) NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [SERVICIO_PK1] PRIMARY KEY CLUSTERED 
(
	[NumeroOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOSERVICIO]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOSERVICIO](
	[IdTipoServicio] [int] IDENTITY(1,1) NOT NULL,
	[NombreServicio] [varchar](100) NULL,
 CONSTRAINT [ServicioTipo_PK] PRIMARY KEY CLUSTERED 
(
	[IdTipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CI] [int] NOT NULL,
	[Pass] [varchar](20) NOT NULL,
	[Rol] [varchar](15) NOT NULL,
 CONSTRAINT [USUARIO_PK] PRIMARY KEY CLUSTERED 
(
	[CI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([CI], [Nombre], [Apellido], [Telefono], [Mail]) VALUES (456, N'Carlos', N'Soria', N'59897255346', N'carlos.soria.olivera@gmail.com')
INSERT [dbo].[CLIENTE] ([CI], [Nombre], [Apellido], [Telefono], [Mail]) VALUES (25116105, N'Teresa', N'Ciancio', N'59898783979', N'0')
INSERT [dbo].[CLIENTE] ([CI], [Nombre], [Apellido], [Telefono], [Mail]) VALUES (30059221, N'GABRIEL', N'AGUIAR', N'098784134', N'gabrieladrianaguiar@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

INSERT [dbo].[EMPLEADO] ([IdEmpleado], [NombreEmpleado]) VALUES (1, N'Reparador PC')
INSERT [dbo].[EMPLEADO] ([IdEmpleado], [NombreEmpleado]) VALUES (2, N'Reparador Celular')
INSERT [dbo].[EMPLEADO] ([IdEmpleado], [NombreEmpleado]) VALUES (3, N'Reparador Impresora')
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOSERVICIO] ON 

INSERT [dbo].[ESTADOSERVICIO] ([IdEstado], [Estado]) VALUES (1, N'Ingresado')
INSERT [dbo].[ESTADOSERVICIO] ([IdEstado], [Estado]) VALUES (2, N'En Proceso de Reparación')
INSERT [dbo].[ESTADOSERVICIO] ([IdEstado], [Estado]) VALUES (3, N'Esperando Repuesto')
SET IDENTITY_INSERT [dbo].[ESTADOSERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[GARANTIA] ON 

INSERT [dbo].[GARANTIA] ([IdGarantia], [NumeroOrden], [FechaInicio], [FechaFinal]) VALUES (5, 30, N'12/10/2024', N'12/11/2024')
INSERT [dbo].[GARANTIA] ([IdGarantia], [NumeroOrden], [FechaInicio], [FechaFinal]) VALUES (6, 34, N'14/10/2024', N'14/11/2024')
SET IDENTITY_INSERT [dbo].[GARANTIA] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICIO] ON 

INSERT [dbo].[SERVICIO] ([NumeroOrden], [CICliente], [TipoEquipo], [Modelo], [TrabajoARealizar], [TipoServicio], [FechaRecibido], [FechaFinalizado], [Tecnico], [PrecioReparacion], [IdEstado], [Nota], [Borrado]) VALUES (9, 42658891, N'PC', N'lenovo', N'Reparación teclado', N'1', N'2024-02-12', N'16/02/2024', 1, 1200, 4, N'', 1)
INSERT [dbo].[SERVICIO] ([NumeroOrden], [CICliente], [TipoEquipo], [Modelo], [TrabajoARealizar], [TipoServicio], [FechaRecibido], [FechaFinalizado], [Tecnico], [PrecioReparacion], [IdEstado], [Nota], [Borrado]) VALUES (10, 47619896, N'Impreso', N'Epsilon', N'Cartuchos rotos', N'4', N'2024-02-12', N'', 3, 800, 1, N'', 1)
INSERT [dbo].[SERVICIO] ([NumeroOrden], [CICliente], [TipoEquipo], [Modelo], [TrabajoARealizar], [TipoServicio], [FechaRecibido], [FechaFinalizado], [Tecnico], [PrecioReparacion], [IdEstado], [Nota], [Borrado]) VALUES (11, 32115681, N'Celular', N'Samsung', N'Cambio Pantalla ', N'2', N'2024-02-12', N' ', 2, 900, 5, N'PIN 5846', 1)
SET IDENTITY_INSERT [dbo].[SERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOSERVICIO] ON 

INSERT [dbo].[TIPOSERVICIO] ([IdTipoServicio], [NombreServicio]) VALUES (1, N'Reparación PC')
INSERT [dbo].[TIPOSERVICIO] ([IdTipoServicio], [NombreServicio]) VALUES (2, N'Reparación de Celular')
INSERT [dbo].[TIPOSERVICIO] ([IdTipoServicio], [NombreServicio]) VALUES (4, N'Reparación de Impresora')
SET IDENTITY_INSERT [dbo].[TIPOSERVICIO] OFF
GO
INSERT [dbo].[USUARIO] ([CI], [Pass], [Rol]) VALUES (456, N'456', N'Admin')
GO
ALTER TABLE [dbo].[GARANTIA]  WITH CHECK ADD  CONSTRAINT [GARANTIA_FK] FOREIGN KEY([NumeroOrden])
REFERENCES [dbo].[SERVICIO] ([NumeroOrden])
GO
ALTER TABLE [dbo].[GARANTIA] CHECK CONSTRAINT [GARANTIA_FK]
GO
ALTER TABLE [dbo].[SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_Tecnico1] FOREIGN KEY([Tecnico])
REFERENCES [dbo].[EMPLEADO] ([IdEmpleado])
GO
ALTER TABLE [dbo].[SERVICIO] CHECK CONSTRAINT [FK_Tecnico1]
GO
ALTER TABLE [dbo].[SERVICIO]  WITH CHECK ADD  CONSTRAINT [SERVICIO_CLIENTE_FK1] FOREIGN KEY([CICliente])
REFERENCES [dbo].[CLIENTE] ([CI])
GO
ALTER TABLE [dbo].[SERVICIO] CHECK CONSTRAINT [SERVICIO_CLIENTE_FK1]
GO
ALTER TABLE [dbo].[SERVICIO]  WITH CHECK ADD  CONSTRAINT [SERVICIO_ESTADO_FK1] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[ESTADOSERVICIO] ([IdEstado])
GO
ALTER TABLE [dbo].[SERVICIO] CHECK CONSTRAINT [SERVICIO_ESTADO_FK1]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [USUARIO_FK] FOREIGN KEY([CI])
REFERENCES [dbo].[CLIENTE] ([CI])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [USUARIO_FK]
GO
/****** Object:  StoredProcedure [dbo].[SP_Cambiar_Password]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Cambiar_Password] 
@CI int, @PassActual VARCHAR(20), @PassNueva VARCHAR(20)
AS
BEGIN
	UPDATE Usuario
	SET Pass = @PassNueva
	WHERE CI = @CI 
	AND Pass = @PassActual
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminiar_Empleado]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Eliminiar_Empleado]
@IdEmpleado int
as
begin
delete from Empleado where IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminiar_Servicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Eliminiar_Servicio]
@NumeroOrden int
as
begin
delete from GARANTIA
where @NumeroOrden = NumeroOrden
update SERVICIO
set Borrado = 1
where @NumeroOrden = NumeroOrden
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminiar_TipoServicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Eliminiar_TipoServicio]
@IdTipoServicio int
as
begin
delete from TIPOSERVICIO where IdTipoServicio = @IdTipoServicio
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Cliente]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Listar_Cliente]
as
begin
	Select * from CLIENTE
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Empleado]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_Listar_Empleado]
as
begin
select * from Empleado
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_EstadoServicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Listar_EstadoServicio]
as
begin
select * from ESTADOSERVICIO
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Garantia]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_Listar_Garantia]
as
begin
select * from GARANTIA
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Nota]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_Listar_Nota]
as
begin
select * from NOTA
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Servicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Listar_Servicio]
as
begin
select * from SERVICIO where Borrado = 0 order by NumeroOrden desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_TipoServicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_Listar_TipoServicio]
as
begin
select * from TIPOSERVICIO
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Usuarios]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Listar_Usuarios]
AS
BEGIN
SELECT * from USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Modificar_EstadoServicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Modificar_EstadoServicio](
  @NumeroOrden INT,
  @IdEstado INT,
  @FechaFinalizado varchar(10)
)
AS
BEGIN
  UPDATE Servicio 
  SET IdEstado = @IdEstado,FechaFinalizado=' '
  WHERE NumeroOrden = @NumeroOrden;

  IF @IdEstado = 4
  BEGIN
    UPDATE Servicio 
    SET FechaFinalizado = CONVERT(VARCHAR, GETDATE(), 103)
    WHERE NumeroOrden = @NumeroOrden;
  END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Modificar_Servicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_Modificar_Servicio](
@NumeroOrden int,
@CICliente int,
@TipoEquipo varchar(200),
@Modelo varchar(200),
@TrabajoARealizar varchar(200),
@TipoServicio varchar(200),
@FechaRecibido varchar(10),
@FechaFinalizado varchar(10),
@Tecnico int,
@PrecioReparacion int,
@IdEstado int,
@Nota varchar(200),
@Borrado bit
)
as
begin
update Servicio 
set 
	CICliente=@CICliente,
	TipoEquipo=@TipoEquipo,
	Modelo=@Modelo,
	TrabajoARealizar=@TrabajoARealizar,
	TipoServicio=@TipoServicio,
	FechaRecibido=@FechaRecibido,
	FechaFinalizado=@FechaFinalizado,
	Tecnico=@Tecnico,
	PrecioReparacion=@PrecioReparacion,
	IdEstado=@IdEstado,
	Nota=@Nota,
    Borrado=@Borrado
where NumeroOrden=@NumeroOrden;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Servicio_Id]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Obtener_Servicio_Id]
@NumeroOrden int
as
begin
	select * from servicio where NumeroOrden = @NumeroOrden
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Obtener_Usuario]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Obtener_Usuario] 
@CI int
AS
BEGIN
SELECT * from USUARIO where CI=@CI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Registrar_Cliente]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Registrar_Cliente]
@CI int,
@Nombre varchar(50),
@Apellido varchar(50),
@Telefono varchar(20),
@Mail varchar(100)
as
begin
	insert into CLIENTE values (@CI,@Nombre,@Apellido,@Telefono,@Mail)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Registrar_Empleado]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Registrar_Empleado]
@NombreEmpleado varchar(50)
as
begin
	insert into EMPLEADO values (@NombreEmpleado)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Registrar_Garantia]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Registrar_Garantia](
    @NumeroOrden INT,
    @FechaInicio VARCHAR(10),
    @FechaFinal varchar(10)
)
as
begin
    insert into GARANTIA values (@NumeroOrden,@FechaInicio,@FechaFinal)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Registrar_Servicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Registrar_Servicio](
@CICliente int,@TipoEquipo VARCHAR(200),
@Modelo VARCHAR(200),@TrabajoARealizar VARCHAR(200),@TipoServicio VARCHAR(100),
@FechaRecibido varchar(10),@FechaFinalizado varchar(10),@Tecnico VARCHAR(200),
@PrecioReparacion int,@IdEstado int,@Nota varchar(100),@Borrado bit
)
as
begin
insert into Servicio(CICliente,TipoEquipo,Modelo,TrabajoARealizar,TipoServicio,
FechaRecibido,FechaFinalizado,Tecnico,PrecioReparacion,IdEstado,Nota,Borrado)
values (
@CICliente,@TipoEquipo,@Modelo,@TrabajoARealizar,@TipoServicio,
@FechaRecibido,@FechaFinalizado,@Tecnico,@PrecioReparacion,@IdEstado,@Nota,@Borrado)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Registrar_TipoServicio]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Registrar_TipoServicio]
@NombreServicio varchar(50)
as
begin
	insert into TIPOSERVICIO values (@NombreServicio)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Vincular_Ordenes]    Script Date: 1/31/2025 3:40:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Vincular_Ordenes] 
@IdServicio int, @IdServicioVinculado int 
AS
BEGIN
	UPDATE Vinculado
	SET IdServicio  = @IdServicio, IdServicioVinculado =  @IdServicioVinculado
END
GO
